{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <h1>Login</h1>#}
{#  {% if form.errors %}#}
{#    <p style="color: red">Invalid credentials</p>#}
{#  {% endif %}#}
{#  <form action="{% url 'login' %}" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Submit">#}
{#  </form>#}
{#{% endblock %}#}


{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} Login {% endblock title %}
{% block body %} class="blog-author bg-gray-200" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

  <!-- -------- START HEADER 4 w/ search book a ticket form ------- -->
  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('{% static 'img/shapes/login.jpg' %}');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Welcome!</h1>
            <p class="lead mb-4 text-white opacity-8"> Please sign in to access your account.</p>
            <h6 class="text-white mb-2 mt-5">Find us on</h6>
            <div class="d-flex justify-content-center">
              <a href="https://www.facebook.com/profile.php?id=100005855806696" target="_blank"><i class="fab fa-facebook text-lg text-white me-4"></i></a>
              <a href="https://github.com/romanshupak" target="_blank"><i class="fab fa-github text-lg text-white me-4"></i></a>
              <a href="https://t.me/romanshu" target="_blank"><i class="fab fa-telegram text-lg text-white"></i></a>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->

  <!-- -------- START LOGIN FORM ------- -->
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <h2>Login</h2>
        {% if form.errors %}
          <p style="color: red">Invalid credentials</p>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <!-- -------- END LOGIN FORM ------- -->

{% endblock content %}

{% block footer %}

{% include 'includes/footer_background.html' %}

{% endblock footer %}
