{% load static %}

<footer class="footer pt-5 mt-5" style="text-align: center;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 mb-4">
        <div>
          <a href="#">
            <img src="{% static 'img/logos/gray-logos/icons8-request-service-50 (1).png' %}" style="display: block; margin: 0 auto 15px;" alt="main_logo">
          </a>
          <h6 class="font-weight-bolder" style="margin-bottom: 20px;">Maintenance Manager</h6>
        </div>
        <div>
          <ul class="d-flex flex-row nav" style="justify-content: center;">
            <li class="nav-item">
              <a class="nav-link pe-1" href="https://www.facebook.com/profile.php?id=100005855806696" target="_blank">
                <i class="fab fa-facebook text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pe-1" href="https://t.me/romanshu" target="_blank">
                <i class="fab fa-telegram text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pe-1" href="https://github.com/romanshupak" target="_blank">
                <i class="fab fa-github text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link pe-1" href="https://www.instagram.com/not_only_an_athlete" target="_blank">
                <i class="fab fa-instagram text-lg opacity-8"></i>
              </a>
            </li>
          </ul>
        </div>
        <div style="margin-top: 20px; font-size: 14px; color: #aaa;">
          Created by: Roman Shupak
        </div>
      </div>
    </div>
  </div>
</footer>


