{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} Maintenance Manager {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}

{% block content %}
<header class="header-2">
  <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/shapes/index1.jpg' %}')">
    <span class="mask bg-gradient-primary opacity-2"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7 text-center mx-auto">
          <h1 class="text-white pt-4 mt-n5">Maintenance Manager</h1>
          <p class="lead text-white mt-3">Ensuring Safe Seas with Reliable Onboard Maintenance. <br/>
            "Keep Your Vessel Shipshape!" </p>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
  <section class="pt-3 pb-4" id="count-stats">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-9 mx-auto py-3">
          <div class="row">
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"><span id="state1" countTo="70">{{ num_departments }}</span></h1>
                <h5 class="mt-3">Departments</h5>
                <p class="text-sm font-weight-normal">Empowering excellence in every department</p>
                <a href="{% url 'maintenance:department-list' %}" class="btn btn-primary mt-3">Go to Department List</a>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-4 position-relative">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary"> <span id="state2" countTo="15">{{ num_positions }}</span></h1>
                <h5 class="mt-3">Positions</h5>
                <p class="text-sm font-weight-normal">Vessel ranks allocate responsibilities for efficient operation and safety</p>
                <a href="{% url 'maintenance:position-list' %}" class="btn btn-primary mt-3">Go to Position List</a>
              </div>
              <hr class="vertical dark">
            </div>
            <div class="col-md-4">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary" id="state3" countTo="4">{{ num_workers }}</h1>
                <h5 class="mt-3">Workers</h5>
                <p class="text-sm font-weight-normal">Workers perform vital roles ensuring vessel operations and safety</p>
                <a href="{% url 'maintenance:worker-list' %}" class="btn btn-primary mt-3">Go to Worker List</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary" id="state4" countTo="4">{{ num_completed_maintenances }}</h1>
                <h5 class="mt-3">Completed Maintenances</h5>
                <p class="text-sm font-weight-normal">Completed vessel maintenance ensures optimal performance and safety</p>
                <a href="{% url 'maintenance:maintenance-list' %}" class="btn btn-primary mt-3">Go to Maintenance List</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="p-3 text-center">
                <h1 class="text-gradient text-primary" id="state4" countTo="4">{{ num_not_completed_maintenances }}</h1>
                <h5 class="mt-3">Not Completed Maintenances</h5>
                <p class="text-sm font-weight-normal">Incomplete vessel maintenance poses risks to performance and safety</p>
                <a href="{% url 'maintenance:maintenance-list' %}" class="btn btn-primary mt-3">Go to Maintenance
                  List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


<section class="my-5 py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
        <div class="rotating-card-container">
          <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
            <div class="front front-background" style="background-image: url(https://unsplash.com/photos/white-and-black-boat-on-dock-during-sunset-WAh9lIRcVaU); background-size: cover;">
              <div class="card-body py-7 text-center">
                <i class="material-icons text-white text-4xl my-3">touch_app</i>
                <h3 class="text-white">Feel the <br /> Material Kit</h3>
                <p class="text-white opacity-8">All the Bootstrap components that you need in a development have been re-design with the new look.</p>
              </div>
            </div>
            <div class="back back-background" style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80); background-size: cover;">
              <div class="card-body pt-7 text-center">
                <h3 class="text-white">Discover More</h3>
                <p class="text-white opacity-8"> You will save a lot of time going from prototyping to full-functional code because all elements are implemented.</p>
                <a href="#" target="_blank" class="btn btn-white btn-sm w-50 mx-auto mt-3">Start with Headers</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ms-auto">
        <div class="row justify-content-start">
          <div class="col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-3xl">grade</i>
              <h5 class="font-weight-bolder mt-3">Regular Inspections</h5>
              <p class="pe-5">Regular inspections of hulls, engines, machinery, navigation equipment, and safety systems
                are crucial to identify any issues early and prevent potential accidents or breakdowns. These
                inspections often follow established checklists and are conducted by qualified personnel.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-3xl">settings</i>
              <h5 class="font-weight-bolder mt-3">Preventive Maintenance</h5>
              <p class="pe-3"> Implementing a proactive maintenance schedule based on manufacturer recommendations,
                industry standards, and regulatory requirements helps prevent unexpected failures and ensures equipment
                operates optimally. This includes tasks such as lubrication, cleaning, adjustments, and component
                replacements at scheduled intervals.</p>
            </div>
          </div>
        </div>
        <div class="row justify-content-start mt-5">
          <div class="col-md-6 mt-3">
            <i class="material-icons text-gradient text-primary text-3xl">bolt</i>
            <h5 class="font-weight-bolder mt-3">Emergency Preparedness</h5>
            <p class="pe-5">Vessels should be equipped with emergency equipment and systems, including fire suppression
              systems, life-saving appliances, communication devices, and backup power sources. Regular drills and
              training sessions ensure crew members are prepared to respond effectively to emergencies.</p>
          </div>
          <div class="col-md-6 mt-3">
            <div class="info">
              <i class="material-icons text-gradient text-primary text-3xl">inventory</i>
              <h5 class="font-weight-bolder mt-3">Documentation and Record-Keeping</h5>
              <p class="pe-3">Maintaining accurate records of maintenance activities, repairs, inspections, and
                equipment performance is essential for compliance with regulations, tracking maintenance history, and
                identifying trends or recurring issues. Digital systems or logbooks are often used to manage this
                documentation efficiently.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>{% endblock %}
</div>