{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <h1>Maintenance List <a style="float: right" href="{% url 'maintenance:maintenance-create' %}">+</a>#}
{#    </h1>#}
{#  {% if maintenance_list %}#}
{#    <ul>#}
{#      {% for maintenance in maintenance_list %}#}
{#        <li><a href="{{ maintenance.get_absolute_url }}">{{ maintenance.department }} - {{ maintenance.name }}</a></li>#}
{#      {% endfor %}#}
{#    </ul>#}
{#  {% else %}#}
{#    <p>There are no maintenances in Maintenance manager</p>#}
{#  {% endif %}#}
{#{% endblock %}#}


{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}
{% block body %} class="blog-author bg-gray-200" {% endblock body %}

{% block header %}
{% include 'includes/navigation.html' %}
{% endblock header %}

{% block content %}
  <!-- -------- START HEADER 4 w/ search book a ticket form ------- -->
    <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('{% static 'img/city-profile.jpg' %}');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Empowering excellence in every department</h1>
            <p class="lead mb-4 text-white opacity-8">Excellence through teamwork</p>
            <!-- Form for creating new maintenance under the phrase -->
            <div class="row mt-4 justify-content-center">
              <div class="col-lg-6">
                <form method="post" action="{% url 'maintenance:maintenance-create' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn bg-white text-black-50">Create Maintenance</button>
                </form>
              </div>
            </div>
            <h6 class="text-white mb-2 mt-5">Find us on</h6>
            <div class="d-flex justify-content-center">
              <a href="javascript:;"><i class="fab fa-facebook text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-instagram text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-twitter text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-google-plus text-lg text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="mb-5">Maintenance List</h3>
          </div>
        </div>
        <div class="row">
          {% if maintenance_list %}
            <ul>
              {% for maintenance in maintenance_list %}
                <li><a href="{{ maintenance.get_absolute_url }}">{{ maintenance.department }} - {{ maintenance.name }}</a></li>
              {% endfor %}
            </ul>
          {% else %}
            <p>There are no maintenances in Maintenance manager</p>
          {% endif %}
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block footer %}
{% include 'includes/footer_background.html' %}
{% endblock footer %}
