{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} Positions {% endblock title %}
{% block body %} class="blog-author bg-gray-200" {% endblock body %}

{% block header %}

{% include 'includes/navigation.html' %}

{% endblock header %}

{% block content %}

  <!-- -------- START HEADER 4 w/ search book a ticket form ------- -->
  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('{% static 'img/shapes/ian-taylor-jOqJbvo1P9g-unsplash.jpg' %}');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Vessel ranks allocate responsibilities for efficient operation and safety</h1>
            <p class="lead mb-4 text-white opacity-8">Organization roles for effective operations and safety protocols</p>
            <h6 class="text-white mb-2 mt-5">Find us on</h6>
            <div class="d-flex justify-content-center">
              <a href="https://www.facebook.com/profile.php?id=100005855806696" target="_blank"><i
                  class="fab fa-facebook text-lg text-white me-4"></i></a>
              <a href="https://github.com/romanshupak" target="_blank"><i
                  class="fab fa-github text-lg text-white me-4"></i></a>
              <a href="https://t.me/romanshu" target="_blank"><i
                  class="fab fa-telegram text-lg text-white me-4"></i></a>
              <a href="https://www.instagram.com/not_only_an_athlete" target="_blank"><i
                  class="fab fa-instagram text-lg text-white me-4"></i></a>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 4 w/ search book a ticket form ------- -->
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
  <section class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="mb-5">Our Vessel Positions</h3>
      </div>
    </div>
    <div class="row">
      <!-- Position 1: Master -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-plain">
          <div class="card-header p-0 position-relative">
            <a class="d-block blur-shadow-image">
              <img src="{% static 'img/shapes/productpogony-standart-kategorii-9-sootvetstvuyut-dolzhnosti-kapitana-98718640608788.jpg' %}" alt="Master" class="img-fluid shadow border-radius-lg" loading="lazy">
            </a>
          </div>
          <div class="card-body px-0">
            <h5>
              Master
            </h5>
            <p>
              The Master is responsible for the overall command of the vessel and ensures the safety of the crew and cargo.
            </p>
          </div>
        </div>
      </div>
      <!-- Position 2: Chief Officer -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-plain">
          <div class="card-header p-0 position-relative">
            <a class="d-block blur-shadow-image">
              <img src="{% static 'img/shapes/productpogony-standart-kategorii-7-sootvetstvuyut-dolzhnosti-starshego-pomoshchnika-kapitana-91467553119142.jpg' %}" alt="Chief Officer" class="img-fluid shadow border-radius-lg" loading="lazy">
            </a>
          </div>
          <div class="card-body px-0">
            <h5>
              Chief Officer
            </h5>
            <p>
              The Chief Officer assists the Master and oversees the deck crew, ensuring the vessel's safe and efficient operation.
            </p>
          </div>
        </div>
      </div>
      <!-- Position 3: 2nd Officer -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-plain">
          <div class="card-header p-0 position-relative">
            <a class="d-block blur-shadow-image">
              <img src="{% static 'img/shapes/pogony-na-lipuchke-dlya-2-pomoshchnika-kapitana-3-mekhanika-65594213756342.jpg' %}" alt="2nd Officer" class="img-fluid shadow border-radius-lg" loading="lazy">
            </a>
          </div>
          <div class="card-body px-0">
            <h5>
              2nd Officer
            </h5>
            <p>
              The 2nd Officer is responsible for navigation and maintaining navigational equipment, ensuring the vessel stays on course.
            </p>
          </div>
        </div>
      </div>
      <!-- Position 4: 3rd Officer -->
      <div class="col-lg-3 col-sm-6">
        <div class="card card-plain">
          <div class="card-header p-0 position-relative">
            <a class="d-block blur-shadow-image">
              <img src="{% static 'img/shapes/pogony-na-lipuchke-dlya-3-pomoshchnika-kapitana-4-mekhanika-17686093939315.jpg' %}" alt="2nd Officer" class="img-fluid shadow border-radius-lg" loading="lazy">
            </a>
          </div>
          <div class="card-body px-0">
            <h5>
              3rd Officer
            </h5>
            <p>
              The 3rd Mate assists in navigation, safety drills, and maintenance tasks, supporting the higher-ranking officers.
            </p>
          </div>
        </div>
      </div>

      <!-- Position 5: Chief Engineer -->
      <div class="col-lg-3 col-md-12 col-12">
        <div class="card card-plain">
          <div class="card-header p-0 position-relative">
            <a class="d-block blur-shadow-image">
              <img src="{% static 'img/shapes/prod.jpg' %}" alt="Chief Engineer" class="img-fluid shadow border-radius-lg" loading="lazy">
            </a>
          </div>
          <div class="card-body px-0">
            <h5>
              Chief Engineer
            </h5>
            <p>
              The Chief Engineer oversees the engine room and all mechanical systems, ensuring the vessel's propulsion and power needs are met.
            </p>
{#            <a href="javascript:;" class="text-info text-sm icon-move-right">Read More#}
{#              <i class="fas fa-arrow-right text-xs ms-1"></i>#}
{#            </a>#}
          </div>
        </div>
      </div>
      <!-- Position 6 : 2nd Engineer -->
      <div class="col-lg-3 col-md-12 col-12">
        <div class="card card-plain">
          <div class="card-header p-0 position-relative">
            <a class="d-block blur-shadow-image">
              <img src="{% static 'img/shapes/613T6grmhqL.jpg' %}" alt="2nd Engineer" class="img-fluid shadow border-radius-lg" loading="lazy">
            </a>
          </div>
          <div class="card-body px-0">
            <h5>
              2nd Engineer
            </h5>
            <p>
              The 2nd Engineer assists the Chief Engineer and is responsible for maintaining the engine and related systems.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}

{% block footer %}

{% include 'includes/footer_background.html' %}

{% endblock footer %}
