{% extends 'layouts/base_background.html' %}
{% load static %}

{% block title %} Worker Details {% endblock title %}
{% block body %} class="blog-author bg-gray-200" {% endblock body %}

{% block header %}
{% include 'includes/navigation.html' %}
{% endblock header %}

{% block content %}
  <!-- -------- START HEADER 4 w/ search book a ticket form ------- -->
  <header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url('{% static 'img/city-profile.jpg' %}');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">
            <h1 class="text-white">Empowering excellence in every department</h1>
            <p class="lead mb-4 text-white opacity-8">Excellence through teamwork</p>
            <h6 class="text-white mb-2 mt-5">Find us on</h6>
            <div class="d-flex justify-content-center">
              <a href="javascript:;"><i class="fab fa-facebook text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-instagram text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-twitter text-lg text-white me-4"></i></a>
              <a href="javascript:;"><i class="fab fa-google-plus text-lg text-white"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
    <section class="py-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="mb-4">Worker Details</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mx-auto">
            <div class="card">
              <div class="card-body">
                <p class="card-text"><strong>Username:</strong> {{ worker_detail_list.username }}</p>
                <p class="card-text"><strong>Full Name:</strong> {{ worker_detail_list.get_full_name }}</p>
                <p class="card-text"><strong>Position:</strong> {{ worker_detail_list.position.name }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-8 mx-auto text-center">
            <h3 class="mb-4">Tasks</h3>
            {% if worker_detail_list.maintenances.all %}
              <ul class="list-group">
                {% for maintenance in worker_detail_list.maintenances.all %}
                  <li class="list-group-item">
                    <a href="{% url 'maintenance:maintenance-detail' maintenance.id %}">{{ maintenance.name }}</a> - 
                    {% if maintenance.is_completed %}
                      <span class="badge bg-success">Completed</span>
                    {% else %}
                      <span class="badge bg-danger">Not Completed</span>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>This worker has no tasks.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}

{% block footer %}
{% include 'includes/footer_background.html' %}
{% endblock footer %}
